body {
  background-color: tan;
  color:  blue;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: blue;
  text-align: center;
}
p {
  color: blue;
  text-align: center;
}
ul{
  text-align: center;
}
li {
  text-align: center;
}
