body {
  background-color: grey;
  color: #49fb35;
}
h1 {
  color: #49fb35;
  text-align: center;
}
h2 {
  color: #49fb35;
  text-align: center;
}
p {
  color: #49fb35;
  text-align: center;
}
ul {
  color: #49fb35;
  text-align: center;
}
